<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <h1 style="color:rgb(221, 99, 18)">Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Username">
              </div>
              <div class="input-group mb-4" style="margin-top:30px">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control"[(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password">
              </div>
            <br>
              <div class="row">
                <div class="col-3">
                  <button type="button"(click)='submitLogin()' routerLinkActive="active" [routerLink]="['/home']" class="btn btn-primary px-4" style="background-color:rgb(221, 99, 18)">Login</button>
                </div>
                <div class="col-9">
                  <p style="text-align:right">  <a class="nav-link" routerLinkActive="active" [routerLink]="[]">Forgot password ?</a></p>
                </div>
               
              </div>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%;background-color:red">
            <div class="card-body text-center">
              <div>
               
                <img src="assets/img/avatars/login.png" class="img-avatar login-img" alt="admin@bootstrapmaster.com" style="width:250px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
