
   <!-- HEADER BAR................................................... -->

<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#">
   
  </a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
  <span *ngIf="url=='/organization'||url=='/organization/newlocation'||url=='/organization/company'">
    <button type="submit" class="btn btn-primary acurve-button " style="background-color:rgb(241, 241, 241);border-color:rgb(241, 241, 241)" [routerLink]="['/organization/company']"> Company</button>
      <button type="submit" class="btn btn-primary acurve-button " [routerLink]="['/organization/newlocation']">Location</button>

  </span>

  <span *ngIf="url=='/admin'||url=='/admin/newuser'||url=='/admin/tab2'">
    <button type="submit" class="btn btn-primary acurve-button " [routerLink]="['/admin/newuser']">User</button>
    <button type="submit" class="btn btn-primary acurve-button " style="background-color:rgb(241, 241, 241);border-color:rgb(241, 241, 241)" [routerLink]="['/admin/tab2']"> Tab 2</button>
    <button type="submit" class="btn btn-primary acurve-button " style="background-color:rgb(241, 241, 241);border-color:rgb(241, 241, 241)" [routerLink]="['/admin/tab2']"> Tab 3</button>
</span>
<span *ngIf="url=='/status'||url=='/status/dasbord'||url=='/status/tab2'||url=='/status/tab3'">
  <button type="submit" class="btn btn-primary acurve-button " [routerLink]="['/status/status']">Dashbord</button>
  <button type="submit" class="btn btn-primary acurve-button " style="background-color:rgb(241, 241, 241);border-color:rgb(241, 241, 241)" [routerLink]="['/status/tab2']"> Reports</button>
  <button type="submit" class="btn btn-primary acurve-button " style="background-color:rgb(241, 241, 241);border-color:rgb(241, 241, 241)" [routerLink]="['/status/tab3']"> Tab 3</button>
</span>
  
  
  <ul class="nav navbar-nav ml-auto">
    
    <li class="nav-item d-md-down-none">
      <a class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>

    <li class="nav-item d-md-down-none">
      <a class="nav-link" ><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
  
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
   
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item"  routerLinkActive="active" [routerLink]="['/login']"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  
  </ul>
</header>



<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav" style="background-color:white;">
      <ul class="nav">
      
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']"><i class="fa fa-home"></i> &nbsp; Home </a>
        </li>
     
       
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/operation']"><i class="fa fa-cog"></i> &nbsp; Operation </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/status']"><i class="fa fa-search"></i>  &nbsp; Status </a>
        </li>
          
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/personnel']"><i class="fa fa-user"></i>  &nbsp; Personnel</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/organization']"><i class="fa fa-building"></i>  &nbsp; Organization</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" [routerLink]="['/admin']"><i class="fa fa-user-secret"></i>  &nbsp; Admin</a>
        </li>


    
     
        <!-- <li class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star" ></i> </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Register</a>
            </li>
          
          </ul>
        </li> -->
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
  

    <div class="container-fluid">
      <router-outlet></router-outlet>
    
    </div><!-- /.conainer-fluid -->
  </main>

 
</div>

