


 .sidebar .nav .nav-item .nav-link.active , .sidebar .nav .nav-item .navbar .active.dropdown-toggle, .navbar .sidebar .nav .nav-item .active.dropdown-toggle,.fa fa{
    color: #E3570D;;
    background: #F4F8F9;
}

.sidebar .nav .nav-item .nav-link, .sidebar .nav .nav-item .navbar .dropdown-toggle, .navbar .sidebar .nav .nav-item .dropdown-toggle {
    display: block;
    padding: 0.75rem 1rem;
    color: rgb(10, 10, 10);
    text-decoration: none;
    background: transparent;
}

.app-header.navbar .navbar-brand {
   
  
    background-size: 155px auto;
    width: 170PX;
}

element.style {
    padding-left: 12px;
    padding-right: 12px;
}
.main .container-fluid {
    padding: 10px;
}
.acurve-button{
    border-radius: 25px;
   background-color: #E3570D;
   color: white;
  border-color : #E3570D;
  padding-left: 30px;
  padding-right: 30px
  
   
}