  
  @media only screen and (max-width: 700px) {
	.panel-operational{
       width:91.5%;
       margin-left: 17px	
}



  }
  @media only screen and (max-width: 700px) {
	.cogs-y{
        margin-left: 50px;	  
        margin-top: -67px	;
        width:100px  
    }

  }
  @media only screen and (max-width: 700px) {
	.panel-personel{
        width:91.5%;
        margin-left: 17px	
    }

  }
  @media only screen and (max-width: 700px) {
	.admin-panel{
        width:91.5%;
        margin-left: 17px	;
        height:150px
    }
    .user-jpg{
        margin-top: 0px
    }

  }

  @media only screen and (max-width: 700px) {
	.scroll {
        font-size: 12px;
        overflow-y: hidden;
        overflow-x: scroll;
	}
}
  
.border{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 98%;  
    //margin-left:30px
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.text-in-card{
   
    margin-top:-15px;
    margin-left: 10px
}

.wrapper{
    padding-left: 25px !important;
    padding-right: 10px !important;
}


.tab{
    background-color: whitesmoke
}

.wcurve-button{
    border-radius: 25px;
    background-color:white;
    border-color:rgb(241, 236, 236); 
    color:black;
    float: right;
}

.hcurve-button{
    border-radius: 7px; 
}

.acurve-button{
    border-radius: 25px
}
.nav-tabs .nav-link.active, .nav-tabs .navbar .active.dropdown-toggle, .navbar .nav-tabs .active.dropdown-toggle {
    color: #29363d;
    background: #fff;
    border-color: TRANSPARENT;
    border-bottom-color: #fff;
}

table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
   
}

.imgprof{
    padding:0px
}

.table-roww{
    background-color:white;
    color:black; 
    border-top-width: 20px;
    padding:3px;
}

.checkbox{
    margin-top: 12px;
    width: 55px;
    height: 20px;
    padding-right: 0px
}

.card-bodyy{
  background-color: 	#E4E5E7 ;
}

.boader-card{
    border: none
}

.dropdown-menu{
    left: -147px;
    width:40px
}
