<div class="row">
  <div class="col-sm-12">
    <div class="row wrapper">

      <!--............................ OPERATIONS PANNEL............................................... -->

      <div class="col-sm-4">

        <div class="card border">

          <div class="card-body" style="padding:0px;">
            <div class="row">
              <div class="col-sm-5 panel-operational" style="background-color:#E85301;">
                <i class="fas fa-cogs fa-7x cogs-y" style="color:white;margin-left:15px;margin-top:50px"></i>
              </div>
              <div class="col-sm-7">

                <h4 style="padding:10px;color:#E85301;text-align:center">OPERATIONS</h4>
                <p class="text-in-card">Due 30 days :&nbsp;
                  <span style="color:#E85301"> 4</span>
                </p>
                <p class="text-in-card">.................................................................</p>
                <p class="text-in-card">Due 7 days : &nbsp;&nbsp;
                  <span style="color:#E85301"> 4</span>
                </p>
                <p class="text-in-card">.................................................................</p>
                <p class="text-in-card">Past due :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span style="color:#E85301"> 4</span>
                </p>
                <p class="text-in-card">.................................................................</p>

              </div>

            </div>
          </div>
        </div>
      </div>

      <!--............................ PERSONNEL............................................... -->
      <div class="col-sm-4">
        <div class="card border">

          <div class="card-body" style="padding:0px;">
            <div class="row">
              <div class="col-sm-5 panel-personel"  style="background-color:#0A8B00;">
                <i class="fas fa-user fa-7x" style="color:white;margin-left:25px;margin-top:40px"></i>
                <br>
              </div>
              <div class="col-sm-7">

                <h4 style="padding:10px;color:#0A8B00;text-align:center">PERSONNEL</h4>
                <p class="text-in-card">Due 30 days :&nbsp;
                  <span style="color:#0A8B00"> 4</span>
                </p>
                <p class="text-in-card">.................................................................</p>
                <p class="text-in-card">Due 7 days : &nbsp;&nbsp;
                  <span style="color:#0A8B00"> 4</span>
                </p>
                <p class="text-in-card">.................................................................</p>
                <p class="text-in-card">Past due :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span style="color:#0A8B00"> 4</span>
                </p>
                <p class="text-in-card">.................................................................</p>

              </div>

            </div>
          </div>
        </div>
      </div>

      <!--............................ ADMINISRATION............................................... -->

      <div class="col-sm-4">
        <div class="card border">

          <div class="card-body" style="padding:0px;">
            <div class="row">
              <div class="col-sm-5 admin-panel" style="background-color:#D74994;">
                  <i class="fas fa-cog fa-4x user-jpg" style="color:white;margin-left:8px;margin-top:10px"></i>
                <i class="fas fa-user fa-7x " style="color:white;margin-left:25px;margin-top:-40px"></i>
                <br>
              </div>
              <div class="col-sm-7">

                <h4 style="padding:10px;color:#D74994">ADMINISRATION</h4>
                <p class="text-in-card">Due 30 days :&nbsp;
                  <span style="color:#D74994"> 4</span>
                </p>
                <p class="text-in-card">.................................................................</p>
                <p class="text-in-card">Due 7 days : &nbsp;&nbsp;
                  <span style="color:#D74994"> 4</span>
                </p>
                <p class="text-in-card">.................................................................</p>
                <p class="text-in-card">Past due :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span style="color:#D74994"> 4</span>
                </p>
                <p class="text-in-card">.................................................................</p>

              </div>

            </div>
          </div>
        </div>

      </div>

    </div>



  </div>

</div>


<br>
<br>
<br>

<!-- .......................................TABS........................................ -->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active " (click)="displayOperation()" [ngStyle]="{'background-color': operationColor, 'color': fontColor}">Operations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" (click)="displayPersonel()" [ngStyle]="{'background-color': personColor, 'color': fontdisplayColor}">
      Personnel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="displayAdministration()" [ngStyle]="{'background-color': administrationColor, 'color': adddminFontColor}">Addministaration</a>
  </li>

</ul>



<!-- .................................... PERSONNEL................................-->

<div class="card" *ngIf="personnel">
  <div class="card-body card-bodyy">
    <div class="row">
      <div class="col-sm-12">
        <div class="row" style="padding:0px">
          <div class="col-sm-7"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-2">
            <span class="navbar-text">

              <button type="button" class="btn btn-primary acurve-button" style="background-color:#E3570D; border-color: #E3570D;  ">All</button>

              <button type="button" class="btn btn-primary wcurve-button">Inactive</button>
              <button type="button" class="btn btn-primary wcurve-button">Active</button>


            </span>


          </div>
        </div>


        <div class="row scroll">
          <div class="col-sm-12">

            <table class="table scroll" style="border-top-style: hidden; color:rgb(172, 172, 172) ">
              <thead>
                <tr>


                  <th class="table-head" style="width:5%">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0 arrow" id="inlineFormCustomSelect">

                    </select>
                  </th>
                  <th class="table-head" style="width:20%"> Name</th>
                  <th class="table-head" style="width:25%">Event Object</th>

                  <th class="table-head" style="width:20%">Due Date</th>

                  <th class="table-head" style="width:20%">Status</th>

                  <th class="table-head" style="width:10%">More</th>


                </tr>
              </thead>
              <tbody>
                <tr class="table-roww" *ngFor='let employeeDetail of dataTable '>

                  <td style="width:5%;margin-top:8px">
                    <input type="checkbox" class="checkbox" name="name" value="Car">
                  </td>
                  <td style="width:10%"> &nbsp;&nbsp;
                    <img src="assets/img/avatars/6.jpg" class="img-avatar imgprof" alt="admin@bootstrapmaster.com"> &nbsp;{{employeeDetail.lastname}} {{employeeDetail.firstname}}
                  </td>

                  <td style="width:15%;padding-top:25px">{{employeeDetail.eventObject}}</td>
                  <td style="width:15%; padding-top:25px">{{employeeDetail.dueDate}}</td>
                  <td style="width:15%;padding-top:25px">{{employeeDetail.status}}</td>
                  <td style="width:10%;padding-top:25px">{{employeeDetail.more}} 
                      <span class="btn-group float-right" dropdown>
                          <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                            <i class="fas fa-ellipsis-v  dropdown-toggle" style='color:black !important' data-toggle="dropdown"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
                            <a class="dropdown-item">
                              <i class="fas fa-eye"></i> &nbsp; View</a>
                            <a class="dropdown-item" href="#">
                              <i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;Edit</a>
                            <a class="dropdown-item" href="#">
                              <i class="fas fa-trash-alt"></i> &nbsp;&nbsp; Delete</a>
                          </div>
                        </span>
                    
                  </td>



                </tr>



              </tbody>
            </table>




          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- .................................... ADDMINISTRATION  ................................-->


<div class="card" *ngIf="addministaration">
  <div class="card-body card-bodyy">
    <div class="row">
      <div class="col-sm-12">
        <div class="row" style="padding:0px">
          <div class="col-sm-7"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-2">
            <span class="navbar-text">

              <button type="button" class="btn btn-primary acurve-button" style="background-color:#E3570D; border-color: #E3570D;  ">All</button>

              <button type="button" class="btn btn-primary wcurve-button">Inactive</button>
              <button type="button" class="btn btn-primary wcurve-button">Active</button>


            </span>


          </div>
        </div>


        <div class="row scroll">
          <div class="col-sm-12">

            <table class="table " style="border-top-style: hidden; color:rgb(172, 172, 172) ">
              <thead>
                <tr>


                  <th class="table-head" style="width:5%">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0 arrow" id="inlineFormCustomSelect">

                    </select>
                  </th>
                  <th class="table-head" style="width:20%"> Name</th>
                  <th class="table-head" style="width:25%">Event Object</th>

                  <th class="table-head" style="width:20%">Due Date</th>

                  <th class="table-head" style="width:20%">Status</th>

                  <th class="table-head" style="width:10%">More</th>


                </tr>
              </thead>
              <tbody>
                <tr class="table-roww" *ngFor='let employeeDetail of dataTable '>

                  <td style="width:5%;margin-top:8px">
                    <input type="checkbox" class="checkbox" name="name" value="Car">
                  </td>
                  <td style="width:10%"> &nbsp;&nbsp;
                    <img src="assets/img/avatars/6.jpg" class="img-avatar imgprof" alt="admin@bootstrapmaster.com"> &nbsp;{{employeeDetail.lastname}} {{employeeDetail.firstname}}
                  </td>

                  <td style="width:15%;padding-top:25px">{{employeeDetail.eventObject}}</td>
                  <td style="width:15%; padding-top:25px">{{employeeDetail.dueDate}}</td>
                  <td style="width:15%;padding-top:25px">{{employeeDetail.status}}</td>
                  <td style="width:10%;padding-top:25px">{{employeeDetail.more}} &nbsp;&nbsp;&nbsp;
                      <span class="btn-group float-right" dropdown>
                          <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                            <i class="fas fa-ellipsis-v  dropdown-toggle" style='color:black !important' data-toggle="dropdown"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
                            <a class="dropdown-item">
                              <i class="fas fa-eye"></i> &nbsp; View</a>
                            <a class="dropdown-item" href="#">
                              <i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;Edit</a>
                            <a class="dropdown-item" href="#">
                              <i class="fas fa-trash-alt"></i> &nbsp;&nbsp; Delete</a>
                          </div>
                        </span>
                  </td>



                </tr>



              </tbody>
            </table>




          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- .................................... OPERATION TAB  ................................-->


<div class="card boader-card" *ngIf="operation">
  <div class="card-body card-bodyy">
    <div class="row scroll">
      <div class="col-sm-12">
        <div class="row" style="padding:0px">
          <div class="col-sm-7"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-2">
            <span class="navbar-text">

              <button type="button" class="btn btn-primary acurve-button" style="background-color:#E3570D; border-color: #E3570D;  ">All</button>

              <button type="button" class="btn btn-primary wcurve-button">Inactive</button>
              <button type="button" class="btn btn-primary wcurve-button">Active</button>


            </span>


          </div>
        </div>


        <div class="row">
          <div class="col-sm-12">

            <table class="table scroll" style="border-top-style: hidden; color:rgb(172, 172, 172) ">
              <thead>
                <tr>


                  <th class="table-head" style="width:5%">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0 arrow" id="inlineFormCustomSelect">

                    </select>
                  </th>
                  <th class="table-head" style="width:20%"> Name</th>
                  <th class="table-head" style="width:25%">Event Object</th>

                  <th class="table-head" style="width:20%">Due Date</th>

                  <th class="table-head" style="width:20%">Status</th>

                  <th class="table-head" style="width:10%">More</th>


                </tr>
              </thead>
              <tbody>
                <tr class="table-roww" *ngFor='let employeeDetail of dataTable '>

                  <td style="width:5%;margin-top:8px">
                    <input type="checkbox" class="checkbox" name="name" value="Car">
                  </td>
                  <td style="width:10%"> &nbsp;&nbsp;
                    <img src="assets/img/avatars/6.jpg" class="img-avatar imgprof" alt="admin@bootstrapmaster.com"> &nbsp;{{employeeDetail.lastname}} {{employeeDetail.firstname}}
                  </td>

                  <td style="width:15%;padding-top:25px">{{employeeDetail.eventObject}}</td>
                  <td style="width:15%; padding-top:25px">{{employeeDetail.dueDate}}</td>
                  <td style="width:15%;padding-top:25px">{{employeeDetail.status}}</td>
                  <td style="width:10%;padding-top:25px">{{employeeDetail.more}} &nbsp;&nbsp;&nbsp;
                      <span class="btn-group float-right" dropdown>
                          <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                            <i class="fas fa-ellipsis-v  dropdown-toggle" style='color:black !important' data-toggle="dropdown"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
                            <a class="dropdown-item">
                              <i class="fas fa-eye"></i> &nbsp; View</a>
                            <a class="dropdown-item" href="#">
                              <i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;Edit</a>
                            <a class="dropdown-item" href="#">
                              <i class="fas fa-trash-alt"></i> &nbsp;&nbsp; Delete</a>
                          </div>
                        </span>
                  </td>



                </tr>



              </tbody>
            </table>




          </div>
        </div>
      </div>
    </div>
  </div>
</div>