<form [formGroup]='userForm' (ngSubmit)="newLocation(userForm)">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">

                <!-- .................. personal detail..........................-->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header card-header">
                                <strong style="color:rgb(235, 93, 17);">PERSONEL</strong>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-sm-6">


                                        <div class="form-group">
                                            <label for="name"> Last Name</label>
                                            <span class="star">*</span>
                                            <input type="text" formControlName="lastName" class="form-control" id="name" placeholder="Enter the last name">
                                            <div *ngIf="userForm.get('lastName').touched || submitted" style='color:red'>
                                                <div *ngIf="userForm.get('lastName').hasError('required')">Last name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">First Name</label>
                                            <span class="star">*</span>
                                            <input type="text" class="form-control" formControlName="firstName" id="name" placeholder="Enter the first name">
                                            <div *ngIf="userForm.get('firstName').touched || submitted" style='color:red'>
                                                <div *ngIf="userForm.get('firstName').hasError('required')">First Name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->
                                <div class="row">

                                    <div class="col-sm-4">
                                        <div class="form-group">

                                            <label for="example-date-input">Birthday</label>

                                            <input class="form-control" type="date" value="yyyy-mm-dd" id="name">

                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label for="name">Social Security#</label>
                                            <input type="text" formControlName="socialSecurity" class="form-control" id="name" placeholder="Enter the social security">
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="name">Gender</label>

                                            <div>
                                                <input type="radio" formControlName="gender" id="inline-radio1" name="gender" value="active"> Male &nbsp;
                                                <input type="radio" formControlName="gender" id="inline-radio2" name="gender" value="inactive"> Girl

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->



                                <div class="row">

                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="name">Street Address</label>
                                            <input type="text" formControlName="streetAddress" class="form-control" id="name" placeholder="Enter the street address">
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name">City</label>
                                            <input type="text" formControlName="city" class="form-control" id="name" placeholder="Enter the city">
                                        </div>
                                    </div>

                                </div>



                                <div class="row">

                                    <div class="form-group col-sm-5">
                                        <label for="ccmonth">State</label>
                                        <select class="form-control" id="name" formControlName="state">
                                            <option *ngFor='let  state of  state' [ngValue]='state.name'>
                                                <span>
                                                    {{state.name}} </span>
                                            </option>

                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="name">Zip</label>
                                            <input type="text" formControlName="zip" class="form-control" id="name" placeholder="Enter the ZIP">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name">Country</label>
                                            <input type="text" formControlName="country" class="form-control" id="name" placeholder="Enter the country">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">


                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Phone</label>
                                            <input type="text" formControlName="phoneNumber" class="form-control" id="name" placeholder="Enter the phone number">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Personal Email</label>
                                            <input type="text" formControlName="email" class="form-control" id="name" placeholder="Enter the email">
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- .....................ATTACHMENTS/REMAINDERS ........................... -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong style="color:rgb(235, 93, 17);">ATTACHMENTS/REMAINDERS</strong>

                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name"> Short Description</label>
                                    <span class="star">*</span>
                                    <input type="text" formControlName="description" class="form-control" id="name" placeholder="Enter the your short description here">
                                    <div *ngIf="userForm.get('description').touched || submitted" style='color:red'>
                                        <div *ngIf="userForm.get('description').hasError('required')">Short Description is required</div>
                                    </div>
                                </div>


                                <div class="row" style="margin-top:39px">

                                    <div class="form-group col-sm-12" style="padding:14px">
                                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">


                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary upload-button">Upload</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary cancel-button">Cancel</button>
                                    </div>
                                    <div class="col-sm-6"></div>


                                </div>
                                <div class="row" style="margin-top:4px">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <table class="table" style="border-top-style: hidden;">
                                                <thead>
                                                    <tr>
                                                        <th class="table-head">Id</th>
                                                        <th class="table-head">Date Created</th>
                                                        <th class="table-head">Description</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2012/01/01</td>
                                                        <td>Member</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">

                <!-- ..............EMPLOYEE ...................... -->


                <div class="row">
                    <div class="col-sm-12">

                        <div class="card text-center">
                            <div class="card-header">
                                <strong style="color:rgb(235, 93, 17);">EMPLOYEE</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Job title</label>
                                            <input type="text" formControlName="jobTitle" class="form-control" id="name" placeholder="Enter the job title">
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="ccmonth">Location</label>
                                        <select class="form-control" id="name" formControlName="location">
                                            <option *ngFor='let location of location' [ngValue]='location.name'>
                                                <span>
                                                    {{location.name}} </span>
                                            </option>

                                        </select>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name">Status</label>

                                            <div>
                                                <input type="radio" formControlName="status" id="inline-radio1" name="status" value="active"> Active


                                                <input type="radio" formControlName="status" id="inline-radio2" name="status" value="inactive"> Inactive

                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <label for="ccmonth">Supervisor</label>
                                        <span style="color:red">*</span>
                                        <select class="form-control" id="name" formControlName="supervise">
                                            <option *ngFor='let supervise of supervisor' [ngValue]='supervise.name'>
                                                <span>
                                                    {{supervise.name}} </span>
                                            </option>

                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name"></label>

                                            <div>

                                                <input type="checkbox" formControlName="title" id="sup" name="title" value="supervisor" class="form-check-input check"> &nbsp;Supervisor &nbsp; &nbsp; &nbsp;
                                                <input type="checkbox" formControlName="title" id="sup" name="title" value="provider" class="form-check-input check"> &nbsp;Provider


                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <!-- ..............Provider ...................... -->


                                <strong style="color:rgb(235, 93, 17);margin-top:-20px">PROVIDER</strong>
                            </div>

                            <div class="card-footer text-muted" style="background-color:white;margin-top:-10px">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">NPI</label>
                                            <span class="star">*</span>
                                            <input type="text" formControlName="npi" class="form-control" id="name" placeholder="Enter the npi">
                                            <div *ngIf="userForm.get('npi').touched || submitted" style='color:red'>
                                                <div *ngIf="userForm.get('npi').hasError('required')">NPI is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Credential</label>
                                            <span class="star">*</span>
                                            <input type="text" formControlName="credential" class="form-control" id="name" placeholder="Enter the credential">
                                            <div *ngIf="userForm.get('credential').touched || submitted" style='color:red'>
                                                <div *ngIf="userForm.get('credential').hasError('required')">Credential is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="ccmonth">Speciality</label>
                                        <select class="form-control" id="name" formControlName="Speciality">
                                            <option *ngFor='let speciality of speciality' [ngValue]='speciality.name'>
                                                <span>
                                                    {{speciality.name}} </span>
                                            </option>

                                        </select>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="ccmonth">Taxonomyy</label>
                                        <span class="star">*</span>
                                        <select class="form-control" id="name" formControlName="taxonomy">
                                            <option *ngFor='let taxonomy of taxonomy' [ngValue]='taxonomy.name'>
                                                <span>
                                                    {{taxonomy.name}} </span>
                                            </option>

                                        </select>
                                    </div>


                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="ccmonth" style="color:#E3570D">Medical License</label>

                                    </div>
                                    <div class="form-group col-sm-3">

                                    </div>

                                    <div class="form-group col-sm-3">
                                        <button type="submit" class="btn btn-primary medical-button "> + Add new</button>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-10">

                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                    </div>


                                    <div class="form-group col-sm-2">
                                        <button type="submit" class="btn btn-primary more-button"> More &nbsp;
                                            <i class="fas fa-ellipsis-v "></i>
                                        </button>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="ccmonth" style="color:#E3570D">DEA License</label>

                                    </div>
                                    <div class="form-group col-sm-3">

                                    </div>

                                    <div class="form-group col-sm-3">
                                        <button type="submit" class="btn btn-primary medical-button "> + Add new</button>
                                    </div>


                                </div>


                                <div class="row">
                                    <div class="form-group col-sm-10">

                                        <div class="form-group">

                                            <input type="text" class="form-control" id="name">
                                        </div>
                                    </div>


                                    <div class="form-group col-sm-2">
                                        <button type="submit" class="btn btn-primary more-button"> More &nbsp;
                                            <i class="fas fa-ellipsis-v "></i>
                                        </button>
                                    </div>


                                </div>
                                <div class="row" style="margin-top:-18px">
                                    <div class="form-group col-sm-3">

                                        <div class="form-group">
                                            <p>Licence#545454 </p>

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-3">

                                        <div class="form-group">
                                            <p>Address: </p>

                                        </div>
                                    </div>

                                    <div class="form-group col-sm-4">

                                        <div class="form-group">
                                            <p>Expire Date: 2017/03/15 </p>

                                        </div>
                                    </div>


                                    <div class="form-group col-sm-2">
                                        <button type="submit" class="btn btn-primary more-button"> More &nbsp;
                                            <i class="fas fa-ellipsis-v "></i>
                                        </button>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="ccmonth" style="color:#E3570D">Malpractice License</label>

                                    </div>
                                    <div class="form-group col-sm-3">

                                    </div>

                                    <div class="form-group col-sm-3">
                                        <button type="submit" class="btn btn-primary medical-button "> + Add new</button>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-10">

                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                    </div>


                                    <div class="form-group col-sm-2">
                                        <button type="submit" class="btn btn-primary more-button"> More &nbsp;
                                            <i class="fas fa-ellipsis-v "></i>
                                        </button>
                                    </div>


                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-8"></div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary upload-button">Save</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary cancel-button">Cancel</button>
            </div>

        </div>
        <!--/.row-->
    </div>
</form>