<nav class="navbar navbar-light bg-faded" style=" padding:0px">
  <span class="navbar-text">
    <div class="input-group">

      <input type="text" [(ngModel)]="userFilter.firstname" class="form-control empty" id="iconified" placeholder="&#xF002;  First Name"
      /> &nbsp;&nbsp;
      <input type="text" [(ngModel)]="userFilter.lastname" class="form-control empty" id="iconified" placeholder="&#xF002;  Last Name"
      />&nbsp;&nbsp;&nbsp;&nbsp;
    <p style="margin-top:10px"><b> Sort by :</b></p>  
      <select class="form-control" id="name" >
          <option disabled >
            Location
          </option>
          <option >
              Last Name
           </option>
           <option >
              First Name
           </option>
           <option >
             Email Id
           </option>
           <option >
             Status
           </option>
           <option >
            Title
           </option>
          


      </select>
    </div>

  </span>


  <span class="navbar-text">

    <button type="button" class="btn btn-primary acurve-button" style="background-color:#E3570D; border-color: #E3570D;  ">All</button>

    <button type="button" class="btn btn-primary wcurve-button">Active</button>

    <button type="button" class="btn btn-primary wcurve-button">Inactive</button>
  </span>
  
  <span class="navbar-text">

    <button class="btn btn-warning  hcurve-button" routerLinkActive="active" [routerLink]="['/personnel/newperson']" type="reset"
      style="background-color:#E3570D;color:white;  border-color:#E3570D; ">
      <i class="fa fa-user-plus"></i> Add New
    </button>


  </span>

</nav>

<hr>

<div class="scroll">
  <table class="table scroll table-hover" style="border-top-style: hidden; color:rgb(172, 172, 172) ">
    <thead style="background-color:transparent">
      <tr>


        <th class="table-head" style="width:5%">
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0 arrow" id="inlineFormCustomSelect">

          </select>
        </th>
        <th class="table-head" style="width:10%"></th>
        <th class="table-head" style="width:15%">Last Name</th>

        <th class="table-head" style="width:15%">First Name</th>

        <th class="table-head" style="width:15%">Email Id</th>
        <th class="table-head" style="width:15%">Status</th>
        <th class="table-head" style="width:15%">Title</th>
        <th class="table-head" style="width:10%">More</th>


      </tr>
    </thead>
    <tbody>
      <tr class="table-roww" *ngFor='let employeeDetail of dataTable | filterBy: userFilter'>

        <td style="width:5%;margin-top:8px">
          <input type="checkbox" class="checkbox" name="name" value="Car">
        </td>
        <td style="width:10%"> &nbsp;&nbsp;
          <img src="assets/img/avatars/6.jpg" class="img-avatar imgprof" alt="admin@bootstrapmaster.com">
        </td>

        <td style="width:15%;padding-top:25px">{{employeeDetail.lastname}}</td>
        <td style="width:15%;padding-top:25px">{{employeeDetail.firstname}}</td>
        <td style="width:15%; padding-top:25px">{{employeeDetail.emailId}}</td>
        <td style="width:15%;padding-top:25px">{{employeeDetail.status}}</td>
        <td style="width:15%;padding-top:25px">{{employeeDetail.title}}</td>
        <td style="width:10%;padding-top:25px">{{employeeDetail.more}}

          <span class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="fas fa-ellipsis-v  dropdown-toggle" style='color:black !important' data-toggle="dropdown"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
              <a class="dropdown-item">
                <i class="fas fa-eye"></i> &nbsp; View</a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;Edit</a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-trash-alt"></i> &nbsp;&nbsp; Delete</a>
            </div>
          </span>
          <!-- 
                    <div class="input-group-btn" dropdown>
                        
                          <i class="fas fa-ellipsis-v  dropdown-toggle" dropdownToggle></i>
          
                        <div class="dropdown-menu" *dropdownMenu>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div role="separator" class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                      </div> -->


        </td>



      </tr>



    </tbody>
  </table>

</div>