<nav class="navbar navbar-light bg-faded" style=" padding:0px">
    <span class="navbar-text">
        <div class="input-group">

            <input type="text" [(ngModel)]="userFilter.firstname" class="form-control empty" id="iconified" placeholder="&#xF002;  First Name"
            /> &nbsp;&nbsp;
            <input type="text" [(ngModel)]="userFilter.lastname" class="form-control empty" id="iconified" placeholder="&#xF002;  Last Name"
            />
        </div>

    </span>

    <span class="navbar-text">

        <button type="button" class="btn btn-primary acurve-button" style="background-color:#E3570D; border-color: #E3570D;  ">All</button>

        <button type="button" class="btn btn-primary wcurve-button">Active</button>

        <button type="button" class="btn btn-primary wcurve-button">Inactive</button>
    </span>
    <span class="navbar-text">

    </span>
    <span class="navbar-text">
      
        <button class="btn btn-warning  hcurve-button" routerLinkActive="active" [routerLink]="['/admin/newuser']" type="reset" style="background-color:#E3570D;color:white;  border-color:#E3570D; ">
            <i class="fa fa-user-plus"></i> Add New
        </button>


    </span>

</nav>

<hr>

<div class="scroll">
    <table class="table scroll table-hover" style="border-top-style: hidden; color:rgb(172, 172, 172) ">
            <thead style="background-color:transparent">
            <tr>


                <th class="table-head" style="width:5%">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0 arrow" id="inlineFormCustomSelect">

                    </select>
                </th>
                <th class="table-head" style="width:10%"></th>
                <th class="table-head" style="width:15%">Last Name</th>

                <th class="table-head" style="width:15%">First Name</th>

                <th class="table-head" style="width:15%">User Name</th>
                <th class="table-head" style="width:15%">Status</th>
                <th class="table-head" style="width:15%">Role</th>
                <th class="table-head" style="width:10%">More</th>


            </tr>
        </thead>
        <tbody>
            <tr class="table-roww" *ngFor='let employeeDetail of dataTable | filterBy: userFilter'>

                <td style="width:5%;margin-top:8px">
                    <input type="checkbox" class="checkbox" name="name" value="Car">
                </td>
                <td style="width:10%"> &nbsp;&nbsp;
                    <img src="assets/img/avatars/6.jpg" class="img-avatar imgprof" alt="admin@bootstrapmaster.com">
                </td>

                <td style="width:15%;padding-top:25px">{{employeeDetail.lastname}}</td>
                <td style="width:15%;padding-top:25px">{{employeeDetail.firstname}}</td>
                <td style="width:15%; padding-top:25px">{{employeeDetail.username}}</td>
                <td style="width:15%;padding-top:25px">{{employeeDetail.status}}</td>
                <td style="width:15%;padding-top:25px">{{employeeDetail.role}}</td>
                <td style="width:10%;padding-top:25px">{{employeeDetail.more}} 

                <span class="btn-group float-right" dropdown>
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                          <i class="fas fa-ellipsis-v  dropdown-toggle" style='color:black;margin-top:0px !important' data-toggle="dropdown"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
                          <a class="dropdown-item">
                            <i class="fas fa-eye"></i> &nbsp; View</a>
                          <a class="dropdown-item" href="#">
                            <i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;Edit</a>
                          <a class="dropdown-item" href="#">
                            <i class="fas fa-trash-alt"></i> &nbsp;&nbsp; Delete</a>
                        </div>
                      </span>
                </td>

            </tr>



        </tbody>
    </table>

</div>