<br>


<h5>Add New</h5>

<hr>
<form [formGroup]='userForm' (ngSubmit)="addEmployeeRegistationDetail(userForm)">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header card-header">
            <strong style="color:rgb(235, 93, 17);">USER</strong>
          </div>
          <div class="card-body">


            <div class="row">
              <div class="col-sm-6">


                <div class="form-group">
                  <label for="name"> Last Name</label>
                  <span class="star">*</span>
                  <input type="text" formControlName="lastName" class="form-control" id="name" placeholder="Enter your last name">
                  <div *ngIf="userForm.get('lastName').touched || submitted" style='color:red'>
                    <div *ngIf="userForm.get('lastName').hasError('required')">Last name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name"> First Name</label>
                  <span class="star">*</span>
                  <input type="text" class="form-control" formControlName="firstName" id="name" placeholder="Enter your first name">
                  <div *ngIf="userForm.get('firstName').touched || submitted" style='color:red'>
                    <div *ngIf="userForm.get('firstName').hasError('required')">First name is required</div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name"> User Name</label>
                  <span class="star">*</span>
                  <input type="text" formControlName="userName" class="form-control" id="name" placeholder="Enter user name">
                  <div *ngIf="userForm.get('userName').touched || submitted" style='color:red'>
                    <div *ngIf="userForm.get('userName').hasError('required')">User name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name"> Email</label>
                  <span class="star">*</span>
                  <input type="text" formControlName="email" class="form-control" id="name" placeholder="Enter your email address">
                  <div *ngIf="userForm.get('email').touched || submitted" style='color:red'>
                    <div *ngIf="userForm.get('email').hasError('required')">Email address is required</div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name"> Password</label>
                  <span class="star">*</span>
                  <input type="text"  [(ngModel)]='password' [ngModelOptions]="{standalone: true}" (keyup)="passwordChecking()" class="form-control" id="name" placeholder="Enter the your password">
                  <div *ngIf="userForm.get('password').touched || submitted" style='color:red'>
                    <div *ngIf="userForm.get('password').hasError('required')">Password is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name"> Confirm Password</label>
                  <span class="star">*</span>
                  <input type="text"  [(ngModel)]='confirmPassword' [ngModelOptions]="{standalone: true}"  (keyup)="passwordChecking()"  class="form-control" id="name" placeholder="Enter the your confirm password">
                  <div *ngIf="userForm.get('confirmPassword').touched || submitted" style='color:red'>
                    <div *ngIf="userForm.get('confirmPassword').hasError('required')"> Confirme Password is required</div>
                  </div>
                </div>
              </div>
              <div style='color:red;padding:12px'>
                <div *ngIf="matchPassword">The password orConfirme Password that you've entered doesn't match </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">


              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Phone </label>
                  <input type="text" formControlName="phoneNumber" class="form-control" id="name" placeholder="Enter your phone number">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="ccmonth">Role</label>
                <select class="form-control" id="name" formControlName="jobType">
                  <option *ngFor='let jobType of role' [ngValue]='jobType.name'>
                    <span>
                      {{jobType.name}} </span>
                  </option>

                </select>
              </div>

            </div>
            <!--/.row-->

            <div class="row">


              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Notes </label>
                  <input type="text" formControlName="notes" class="form-control" id="name" placeholder="Enter your notes">
                </div>
              </div>


            </div>
            <!--/.row-->
            <div class="row">


              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Status</label>

                  <div>
                    <input type="radio"  formControlName="status" id="inline-radio1" name="status" value="active"> Active


                    <input type="radio"  formControlName="status" id="inline-radio2" name="status" value="inactive"> Inactive

                  </div>

                </div>
              </div>


            </div>
            <!--/.row-->

          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong style="color:rgb(235, 93, 17);">ATTACHMENTS/REMAINDERS</strong>

          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="name"> Short Description</label>
              <span class="star">*</span>
              <input type="text" formControlName="description" class="form-control" id="name" placeholder="Enter the your short description here">
              <div *ngIf="userForm.get('description').touched || submitted" style='color:red'>
                <div *ngIf="userForm.get('description').hasError('required')">Short Description is required</div>
              </div>
            </div>
           

            <div class="row" style="margin-top:39px">
             
              <div class="form-group col-sm-12"  style="padding:14px">
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">


              </div>
            </div>
            <!--/.row-->
            <div class="row">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary upload-button">Upload</button>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary cancel-button">Cancel</button>
                </div>
                <div class="col-sm-6"></div>


            </div>

         
            <div class="row"style="margin-top:4px">   
              <div class="col-sm-12">
            <div class="form-group">
                <table class="table" style="border-top-style: hidden;">
                    <thead>
                      <tr>
                        <th class="table-head">Id</th>
                        <th class="table-head">Date Created</th>
                        <th class="table-head">Description</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>2012/01/01</td>
                        <td>Member</td>
                        
                      </tr>
                     
                    </tbody>
                  </table>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
<div class="col-sm-8"></div>
<div class="col-sm-2">
    <button type="submit" class="btn btn-primary upload-button">Save</button>
</div>
<div class="col-sm-2">
    <button type="button" class="btn btn-primary cancel-button">Cancel</button>
</div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</form>
