<form [formGroup]='userForm' (ngSubmit)="newLocation(userForm)">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header card-header">
                                <strong style="color:rgb(235, 93, 17);">COMPANY</strong>
                            </div>
                            <div class="card-body">

                                <!-- .................. COMPANY DETAILS ..........................-->

                                <div class="row">
                                    <div class="col-sm-6">


                                        <div class="form-group">
                                            <label for="name"> Entity Name</label>
                                            <span class="star">*</span>
                                            <input type="text" formControlName="entityName" class="form-control" id="name" placeholder="Enter the entity name">
                                            <div *ngIf="userForm.get('entityName').touched || submitted" style='color:red'>
                                                <div *ngIf="userForm.get('entityName').hasError('required')">Entity name is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">DBA</label>
                                            <span class="star">*</span>
                                            <input type="text" class="form-control" formControlName="dba" id="name" placeholder="Enter the dba">
                                            <div *ngIf="userForm.get('dba').touched || submitted" style='color:red'>
                                                <div *ngIf="userForm.get('dba').hasError('required')">DBA is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/.row-->
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Entity type </label>
                                            <input type="text" formControlName="entityType" class="form-control" id="name" placeholder="Enter the entity type">
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">

                                            <label for="example-date-input">Date of incorporation</label>

                                            <input class="form-control" type="date" value="yyyy-mm-dd" id="name">

                                        </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                                <!--/.row-->



                                <div class="row">

                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label for="name">State incorparated </label>
                                            <input type="text" formControlName="stateIncorparated" class="form-control" id="name" placeholder="Enter the state incorparated">
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="name">FEIN</label>
                                            <input type="text" formControlName="fein" class="form-control" id="name" placeholder="Enter the FEIN">
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name">Fiscal year end</label>
                                            <input type="text" formControlName="fiscalYear" class="form-control" id="name" placeholder="Enter Fiscal year end">
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- ..................... PRINCIPAL ADDRESS ........................... -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header card-header">
                                <strong style="color:rgb(235, 93, 17);">PRINCIPAL ADDRESS</strong>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Street Address </label>
                                            <input type="text" formControlName="streetAddress" class="form-control" id="name" placeholder="Enter the street address">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">City </label>
                                            <input type="text" formControlName="city" class="form-control" id="name" placeholder="Enter the city">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name">Country </label>
                                            <input type="text" formControlName="country" class="form-control" id="name" placeholder="Enter the country">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name">Phone</label>
                                            <input type="text" formControlName="phone" class="form-control" id="name" placeholder="Enter the phone">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name">Website </label>
                                            <input type="text" formControlName="website" class="form-control" id="name" placeholder="Enter the website">
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">

                <!-- ..............OTHER IDENTIFICATION ...................... -->


                <div class="row">
                    <div class="col-sm-12">

                        <div class="card text-center">
                            <div class="card-header">
                                <strong style="color:rgb(235, 93, 17);">OTHER IDENTIFICATION</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Identifier Name</label>
                                            <input type="text" formControlName="identfierName" class="form-control" id="name" placeholder="Enter the identfier name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Identifier Number</label>
                                            <input type="text" formControlName="identifierNumber" class="form-control" id="name" placeholder="Enter the identifier number">
                                            <button type="submit" class="btn btn-primary add-number-button">+</button>
                                        </div>
                                    </div>



                                </div>
                                <strong style="color:rgb(235, 93, 17);margin-top:-20px">BUISINESS REQUIREMENT</strong>
                            </div>
                            <div class="card-footer text-muted" style="background-color:white;margin-top:-10px">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="name">Insurance</label>
                                            <input type="text" formControlName="insurance" class="form-control" id="name" placeholder="Enter the insurance number">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="name"> </label>

                                            <button type="submit" class="btn btn-primary insurance-button "> + Add new</button>
                                        </div>
                                    </div>



                                </div>




                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong style="color:rgb(235, 93, 17);">ATTACHMENTS/REMAINDERS</strong>

                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name"> Short Description</label>
                                    <span class="star">*</span>
                                    <input type="text" formControlName="description" class="form-control" id="name" placeholder="Enter the your short description here">
                                    <div *ngIf="userForm.get('description').touched || submitted" style='color:red'>
                                        <div *ngIf="userForm.get('description').hasError('required')">Short Description is required</div>
                                    </div>
                                </div>


                                <div class="row" style="margin-top:39px">

                                    <div class="form-group col-sm-12" style="padding:14px">
                                        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">


                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary upload-button">Upload</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary cancel-button">Cancel</button>
                                    </div>
                                    <div class="col-sm-6"></div>


                                </div>
                                <div class="row" style="margin-top:4px">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <table class="table" style="border-top-style: hidden;">
                                                <thead>
                                                    <tr>
                                                        <th class="table-head">Id</th>
                                                        <th class="table-head">Date Created</th>
                                                        <th class="table-head">Description</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2012/01/01</td>
                                                        <td>Member</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary upload-button">Save</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary cancel-button">Cancel</button>
            </div>

        </div>
        <!--/.row-->
    </div>
</form>