.card-header{
    background-color: white
}

.star{
    color:red
}

#name { border: none;     font-size: 16px; border-bottom: 1px solid rgb(197, 204, 209)}

input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #E3570D;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background:#E3570D;
    
}

input[type="radio"]:checked {
  border-color:red;
}



#example-date-input{

    border-radius: 5px;
}

.upload-button{
    background:#E3570D;
    border-radius: 25px;
    border-color: #E3570D;
    width:100%
}

.cancel-button{
    background-color:white;
    border-radius: 25px;
    color:black;
    border-color: rgb(241, 236, 236);
    width:100%
}

.table-head{
  color:#E3570D;  
}

.app-header.navbar .navbar-brand {
    display: inline-block;
    width: 155px;
    height: 55px;
    padding: 0.5rem 1rem;
    margin-right: 0;
    background-color: #fff;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 167px auto;
    border-bottom: 1px solid #c2cfd6;
}

.add-number-button{
    background:#E3570D;
    border-radius: 50px;
    border-color: #E3570D;
    margin-top: -70px;
    margin-left:250px
   
}

.text-center {
    text-align: left !important;
}
.label {
    display: inline-block;
    /* margin-bottom: .5rem; */
}

.insurance-button{
    border-radius: 50px;
    background:#E3570D;
    border-color: #E3570D;
    margin-top: 30px;
}