<br>


<h5>Add New</h5>

<hr>
<form [formGroup]='userForm' (ngSubmit)="newLocation(userForm)">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header card-header">
            <strong style="color:rgb(235, 93, 17);">LOCATION</strong>
          </div>
          <div class="card-body">


            <div class="row">
              <div class="col-sm-6">


                <div class="form-group">
                  <label for="name"> Location Name</label>
                  <span class="star">*</span>
                  <input type="text" formControlName="locationName" class="form-control" id="name" placeholder="Enter your location name">
                  <div *ngIf="userForm.get('locationName').touched || submitted" style='color:red'>
                    <div *ngIf="userForm.get('locationName').hasError('required')">Location name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Street Address</label>
                  <span class="star">*</span>
                  <input type="text" class="form-control" formControlName="streetAddress" id="name" placeholder="Enter the street address">
                  <div *ngIf="userForm.get('streetAddress').touched || submitted" style='color:red'>
                    <div *ngIf="userForm.get('streetAddress').hasError('required')">Street address is required</div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">City </label>
                  <input type="text" formControlName="city" class="form-control" id="name" placeholder="Enter the city">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Zip </label>
                  <input type="text" formControlName="zipCode" class="form-control" id="name" placeholder="Enter the zip code">
                </div>
              </div>
            </div>
            <!--/.row-->


            <!--/.row-->
            <div class="row">

              <div class="form-group col-sm-6">
                <label for="ccmonth">State</label>
                <select class="form-control" id="name" formControlName="state">
                  <option *ngFor='let state of state' [ngValue]='state.name'>
                    <span>
                      {{state.name}} </span>
                  </option>

                </select>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Status</label>

                  <div>
                    <input type="radio" formControlName="status" id="inline-radio1" name="status" value="active"> Active


                    <input type="radio" formControlName="status" id="inline-radio2" name="status" value="inactive"> Inactive

                  </div>

                </div>
              </div>



            </div>
            <!--/.row-->

            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Phone </label>
                  <input type="text" formControlName="phoneNumber" class="form-control" id="name" placeholder="Enter your phone number">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Fax </label>
                  <input type="text" formControlName="fax" class="form-control" id="name" placeholder="Enter your fax number">
                </div>
              </div>




            </div>
            <!--/.row-->
            <div class="row">


              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Note</label>
                  <input type="text" formControlName="fax" class="form-control" id="name" placeholder="Enter your notes">
                </div>
              </div>



            </div>
            <!--/.row-->

          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong style="color:rgb(235, 93, 17);">ATTACHMENTS/REMAINDERS</strong>

          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="name"> Short Description</label>
              <span class="star">*</span>
              <input type="text" formControlName="description" class="form-control" id="name" placeholder="Enter the your short description here">
              <div *ngIf="userForm.get('description').touched || submitted" style='color:red'>
                <div *ngIf="userForm.get('description').hasError('required')">Short Description is required</div>
              </div>
            </div>


            <div class="row" style="margin-top:39px">

              <div class="form-group col-sm-12" style="padding:14px">
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">


              </div>
            </div>
            <!--/.row-->

            <div class="row">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary upload-button">Upload</button>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary cancel-button">Cancel</button>
                </div>
                <div class="col-sm-6"></div>


            </div>
            <div class="row" style="margin-top:4px">
              <div class="col-sm-12">
                <div class="form-group">
                  <table class="table" style="border-top-style: hidden;">
                    <thead>
                      <tr>
                        <th class="table-head">Id</th>
                        <th class="table-head">Date Created</th>
                        <th class="table-head">Description</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>2012/01/01</td>
                        <td>Member</td>

                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8"></div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary upload-button">Save</button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary cancel-button">Cancel</button>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</form>