<nav class="navbar navbar-light bg-faded" style=" padding:0px">
  <span class="navbar-text">
      <div class="input-group">

          <input type="text" [(ngModel)]="userFilter.city" class="form-control empty" id="iconified" placeholder="&#xF002;  City"
          /> &nbsp;&nbsp;
          <input type="text" [(ngModel)]="userFilter.state" class="form-control empty" id="iconified" placeholder="&#xF002;  State"
          />
      </div>

  </span>

  <span class="navbar-text">

      <button type="button" class="btn btn-primary acurve-button" style="background-color:#E3570D; border-color: #E3570D;  ">All</button>

      <button type="button" class="btn btn-primary wcurve-button">Active</button>

      <button type="button" class="btn btn-primary wcurve-button">Inactive</button>
  </span>
  <span class="navbar-text">

  </span>
  <span class="navbar-text">
    
      <button class="btn btn-warning  hcurve-button" routerLinkActive="active" [routerLink]="['/organization/newlocation']" type="reset" style="background-color:#E3570D;color:white;  border-color:#E3570D; ">
          <i class="fa fa-user-plus"></i> Add New
      </button>
     


  </span>

</nav>

<hr>

<div class="scroll">
  <table class="table scroll table-hover" style="border-top-style: hidden; color:rgb(172, 172, 172) ">
      <thead style="background-color:transparent">
          <tr>


              <th class="table-head" style="width:5%">
                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0 arrow" id="inlineFormCustomSelect">

                  </select>
              </th>
            
              <th class="table-head" style="width:15%">Location Name</th>

              <th class="table-head" style="width:15%">Street Address</th>

              <th class="table-head" style="width:15%">City</th>
              <th class="table-head" style="width:15%">Zip</th>
              <th class="table-head" style="width:15%">State</th>
              <th class="table-head" style="width:10%">Status</th>
              <th class="table-head" style="width:10%">More</th>


          </tr>
      </thead>
      <tbody>
          <tr class="table-roww" *ngFor='let organization of organizationDetail | filterBy: userFilter'>

              <td style="width:5%;margin-top:8px">
                  <input type="checkbox" class="checkbox" name="name" value="Car">
              </td>
             

              <td style="width:15%;padding-top:25px">{{organization.locationName}}</td>
              <td style="width:15%;padding-top:25px">{{organization.streetAddress}}</td>
              <td style="width:15%;padding-top:25px">{{organization.city}}</td>
              <td style="width:15%;padding-top:25px">{{organization.zip}}</td>
              <td style="width:15%;padding-top:25px">{{organization.state}}</td>
              <td style="width:10%;padding-top:25px">{{organization.status}}</td>
              <td style="width:20%;padding-top:25px">{{organization.more}}       
                
                <span class="btn-group float-right" dropdown>
                  <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                    <i class="fas fa-ellipsis-v  dropdown-toggle" style='color:black !important' data-toggle="dropdown"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-left" *dropdownMenu>
                    <a class="dropdown-item">
                      <i class="fas fa-eye"></i> &nbsp; View</a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;Edit</a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-trash-alt"></i> &nbsp;&nbsp; Delete</a>
                  </div>
                </span></td>
           
           



          </tr>



      </tbody>
  </table>

</div>