@media only screen and (max-width: 700px) {
	.scroll {
        font-size: 12px;
        overflow-y: hidden;
        overflow-x: scroll;
	}
}


.border-curve{
    border-radius: 25px;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }

  input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border-radius: 25px;
}

.wcurve-button{
    border-radius: 25px;
    background-color:white;
    border-color:rgb(241, 236, 236); 
    color:black
}

.hcurve-button{
    border-radius: 7px; 
}

.acurve-button{
    border-radius: 25px
}


.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 6px solid #dfe4e6;
}

.imgprof{
    padding:0px
}

.table-roww{
    background-color:white;
    color:black; 
    border-top-width: 20px;
    padding:3px;
}

.checkbox{
    margin-top: 12px;
    width: 55px;
    height: 20px;
    padding-right: 0px
}

.arrow[_ngcontent-c1] {
    padding: 14px;
    margin-left: 12px;
    width: 18px;
}

.dropdown-menu{
    left: -147px;
    width:40px
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 6px solid #dfe4e6;
}

.table-hover{
    background-color:#E5F4F9
}

.table-roww:hover {
    box-shadow: 0 8px 16px 0 rgba(209, 31, 31, 0.2);
}